.App {
  text-align: center;
  margin: auto;
  max-width: 800px;
  background: white;
  display: flex;
  justify-content: space-between;
}

.App-Jumbotron-content {
  margin: auto;
  max-width: 800px;
}

.App-piano-container {
  height: 50vh;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
}

.play {
  border-top: 10px solid white;
  border-bottom: 10px solid white;
  border-left: 20px solid black;
  height: 0px;
}

.record {
  margin: 2px;
  height: 25px;
  width: 25px;
  background-color: red;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}