.App {
  text-align: center;
  margin: auto;
  max-width: 800px;
  background: white;
  display: flex;
  justify-content: space-between;
}

.App-Jumbotron-content {
  margin: auto;
  max-width: 800px;
  padding: 0 20px;
}

.App-piano-container {
  height: 50vh;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  margin: 30px 0;
}

.circle {
  height: 35px;
  width: 35px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  margin: 10px
}

.stop {
  margin: 10px;
  border: 8px solid black;
  max-width: 10px;
  display: inline-block;
  cursor: pointer;
}

.record {
  margin: 5px;
  height: 25px;
  width: 25px;
  background-color: red;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}