.Key {
  width: 50px;
  height: 200px;
  background: white;
  border: solid 1px black;
  vertical-align: bottom;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin: 1px;
  cursor: pointer;
}

.Key-active {
  background: blue;
}