.Key-white {
  width: 50px;
  height: 200px;
  background: white;
  border: solid 1px black;
  vertical-align: bottom;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin: 1px;
  cursor: pointer;
  font-size: 12px;
}

.Key-black {
  width: 25px;
  height: 100px;
  position: relative;
  background: black;
  border: solid 1px black;
  color: black;
  vertical-align: bottom;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin: 1px -13px;
  z-index: 2;
  cursor: pointer;
  font-size: 12px;
}

.Key-active {
  background: blue;
}

.Key-note-active {
  color: red;
  font-weight: 600;
  border-radius: 50%;
	animation: slide-top 3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes slide-top {
  100% {
    transform: translateY(-800px);
  }
}
